*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-weight: 500;
    font-size: medium;
    z-index: 1;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
}

header .titulo .barra{
    display: flex;
    border-radius: 20px;
    background: white;
    height: 30px;
    width: 60%;
    max-width: 400px;
    margin: 0 auto;
    padding-left: 2px;
}

header .titulo .barra input{
    width:90%;
    border: none;
    border-radius: 20px 0 0 20px;
    padding-left: 4px;
    background-color: rgb(231, 231, 231);
}

header .titulo .icones{
    padding: 10px 0;
    width: 230px;
}

header .titulo .icones img{
    margin: 0 2px;
    width: 25px;
}

#titulo{
    padding: 5px 0;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: black;
}

.texttitulo{
    display: none;
}

nav {
    padding: 5px 0;
    margin: 0 auto;
}

nav ul li:hover,
aside form #submit2,
footer ul li,
article form #submit,
#titulo,
footer p,
footer ul li a,
footer .ulfooter a,
.navButton button a{
    color: white;
}

.navButton{
    padding: 10px;
    background: #F4CA10;
    display: initial;
    position: -webkit-sticky;   
    position: sticky;
    top:-1px;
}

.navButton .cadastro{
    width: 50%;
    max-width: 210px;
    min-width: 190px;
    min-height: 40px;
    background-color: black;
    letter-spacing: 1px;
}

.navButton .cadastro,
.navButton button{
    border-radius: 20px;
    border: none;
}

.navButton button a{
    font-weight: 500;
}

.navButton button{
    background: transparent;
}

article span{
    color: gray;
    font-size: small;
}

section ul{
    margin-left: 20px;
}

article section ul li,
section .terlist li a,
section form span,
section p span,
footer p span,
footer h4,
footer .ulfooter span{
    color:#F4CA10;;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
   color:#F4CA10;
}

section .terlist{
    list-style-type: square;
}

section .terlist li,
section .terlist li a:hover,
hr{
    color: black;
}

.referencia{
    color:gray;
}

h2{
    margin-bottom: 5px;
}

.posts .post p{
    font-weight: 900;
}

section{
    margin: 10px 0;
}

form{
    display: flex;
    flex-direction: column;
}

form label{
    font-weight: 500;
}

form input, 
form textarea{
    margin: 5px 0 10px 0;
    border:  1px solid rgb(187, 178, 178);
    border-radius: 5px;
}

form input{
    height: 25px;
}

textarea{
    width:auto; 
    height: 10rem;
}

article form #submit{
    margin:10px 0;
    border: none;
    background: #F4CA10;
    padding: 0 15px;
    height: 40px;
    border-radius: 4px;
    font-weight: 700;
    letter-spacing: 1px;
}

aside .formulario2{
    box-shadow: 2px 2px 10px 0.1px gray;
    margin:30px 0;
}

aside .formulario{
    width: 90%;
    margin: 0 auto;
}

aside form #submit2{
    border: none;
    border-radius: 6px;
    background: black;
    font-weight: 700;
    padding: 0 15px;
    height: 40px;
    letter-spacing: 1px;
}

aside .imageAss{
    border: 1px solid gray;
}

aside .imageAss2{
    text-align: center;
    margin: 30px 0 30px 0;
}

aside .imageAss .imageAss2 img{
    width: 70%;
}

footer ul li,
nav ul li{
    list-style-type: none;
}

footer ul li a:hover{
    color: #F4CA10;
}

footer .sectionfooter{
    padding: 5px 20px;
}

footer .ulfooter{
    padding-top: 10px;    
}

footer .ulfooter a,
.navButton button a{
    text-transform: uppercase;
}

footer  .ulfooter .item1,
footer  .ulfooter .item2,
footer  .ulfooter .item3,
footer  .ulfooter .item4,
footer  .ulfooter .item5,
footer  .ulfooter .item6,
footer  .ulfooter .item7{
    padding-left: 40px;
    margin-right: 8px;
}

footer{
    font-size: medium;
    background-color: black;
}

footer .final h6{
    color:black;
    font-weight: initial;
    font-weight: 600;
}

footer .final{
    padding: 5px;
    margin: initial;
    text-align: center;
    background-color: #F4CA10;;
}

article form #submit,
aside form #submit2{
    width: 55%;
    max-width: 350px;
    min-width: 220px;
}

aside form #cadastroAside{
    color: black;
}

@media (min-width:320px){
    .banner{
        width: 90%;
        margin: 10px auto;
        background: #F4CA10;
    }

    .banner img{
        width: 100%;
    }
    
    article,
    .banner{
        max-width: 1100px;
    }

    article .esquerda{
        text-align: center;
    }

    article .esquerda img{
        width: 50%;
        min-width: 5px;
        max-width: 35px;
    }

    aside{
        max-width:450px
    }

    article,
    aside{
        width: 90%;
        margin: 0 auto;
        
    }

    .navButton .navegation li{
        padding: initial;
        padding: 10px 0;
    }
    .navButton .navegation {
        position: absolute;
        margin-top: 49px;
        background-color:white;
        width: 90%;
        padding-left: 5px;
        max-height: 0;
        overflow: hidden;
        z-index: 3;
        transition: 0.4s ease-out;
    }

    .navButton{
        z-index: 3;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .posts .post{
        margin: 20px 0;
    }

    article .video .centerr {
        position: relative;
        padding-bottom: 55%;
    }

    article .video .centerr > iframe{
        position: absolute;
        margin: 2%;
        width: 95%;
        height: 95%;
    }

    .imgs img,
    article section .banner img{
        width: 100%;
        border-radius: 4px;
    }
    
    .imgs,
    article section .banner{
        width: 100%;
        margin: 5px auto 0 auto;
    }

    header .titulo .icones{
        margin:0 auto;
        align-items: center;
        justify-content: center;
    }
    

}

@media (min-width:481px) {
    .banner{
        width: 80%;
    }

    article,
    aside{
        width: 90%;
        margin: 0 auto;
    }

    .navButton{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .container article .posts{
        display: flex;
        flex-wrap:wrap;
    }

    .container article .posts .post{
        width: 45%;
        margin-left: 12px;
    }

    article section form .inputsdivs{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    article section form .inputdiv{
        width: 45%;
    }
    
    article section form .inputdiv input{
        width: 100%;
    }
}

@media (min-width:770px){
    .banner{
        width: 70%;
    }

    article,
    aside{
        width: 90%;
        margin: 0 auto;
    }

    footer .coluns3{
        display: flex;
    }

    footer .coluns3 .colun1{
        width: 15%;
        padding-right: 150px;
    }

    footer .coluns3 .colun2{
        padding-right: 50px;
    }
    footer .coluns3 .colun2,
    footer .coluns3 .colun3{
        max-height: 409px;
    }

    footer .sectionfooter ul li{
        padding: 5px 0;
    }

    footer .final{
        margin-top: 90px;
    }

    header .titulo{
        display: flex;
        align-items: center;
    }

    header .titulo .barra{
        height: 30px;
        max-width: 400px;
    }

    header .titulo .icones{
        margin: initial;
    }

    header .titulo .icones,
    header .titulo .barra,
    header .titulo picture{
       justify-content: space-between;
    }
}

 @media (min-width:1000px){
    .container{
        padding:30px;
        display: flex;
        flex-wrap: wrap;
    }

    article{
        width: 65%;
    }
    aside{
        width: 25%;
        height: 600px;
        position: -webkit-sticky;   
        position: sticky;
        top:-1px;
    }
}

@media (min-width:1050px){
    .navButton{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .navButton .navegation {
        position: static;
        margin-top: 0;
        background:none;
        width: auto;
        padding-left: 2px;
        max-height: none;
        overflow: visible; 
        padding-top:5px;
    }

    .navButton .navegation li{
        padding: initial;
        padding: 0 5px;
        display: inline;
    }

    .navButton .botao1{
        display: none;
    }

    article .esquerda img{
        width: 100%;
        margin:-2px;
    }

    article .caixaDoArticle{
        display: flex;
    }

    article .caixaDoArticle .esquerda{
        width: 10%;
        height: 200px;
        display: flex;
        flex-direction: column;
        position: -webkit-sticky;
        position: sticky;
        top:10px;
    }

    article .caixaDoArticle .direita{
        width: 85%;
    }

    article .clear{
        clear: both;
    }

}