*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: yellow;
}

#titulo{
    padding: 5px 0;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
}

.texttitulo{
    display: none;
}

nav {
    padding: 5px 0;
    margin: 0 auto;
}

nav ul li{
    display: inline;
    text-decoration: none;
    padding: 0.5em;
}

span{
    color: gray;
    font-size: small;
}

hr{
    color:black;
    background-color: black;
}

section ul{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

section ul li{
    color:rgb(245, 245, 49);
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
   color:rgb(245, 245, 49);
}

section .terlist{
    list-style-type: square;
}

section .terlist li{
    color: black;
}

section .terlist li a{
    color: rgb(245, 245, 49);
}

section .terlist li a:hover{
    color:black ;
}

.referencia{
    color:gray;
}

h2{
    margin-bottom: 5px;
}

.imgs{
    width: 100%;
    margin: 5px auto 0 auto;
}

.imgs img{
    width: 100%;
    border-radius: 4px;
}

.posts .post p{
    font-weight: 900;
}

@media (max-width:576px){
    article{
        width: 80%;
        margin: 0 auto;
    }

    section{
        margin: 10px 0;
    }

    .posts .post{
        margin: 20px 0;
    }

    iframe{
        width:100%; 
        height:180px;
    }
}